@import 'sources/styles/mixins/media-mixin.scss';
@import 'sources/styles/mixins/typography-mixin.scss';

.brand {
  background-image: url('../../../../sources/images/brand.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 12;
  margin: 0 auto 170px;
  max-width: 1440px;

  @include _769 {
    height: inherit;
  }

  @include _620 {
    max-height: 350px;
    margin-bottom: 130px;
  }

  .content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    height: 100%;
    position: relative;

    @include _769 {
      padding: 40px 0;
    }

    .wrapper {
      position: relative;

      @include _620 {
        top: 50px;
      }

      @include _375 {
        top: 30px;
      }

      .title {
        @include fontTitle;
        color: #ff4c0d;
        margin: 110px 0 40px 0;

        @include _769 {
          font-size: 30px;
        }

        @include _620 {
          font-size: 25px;
          color: #f1f1f1;
        }
      }

      .text {
        @include defaultText;
        font-weight: normal;
        color: #151515;
        max-width: 440px;
        margin: 0 0 20px 0;

        @include _620 {
          font-size: 12px;
          color: var(--text-color);
        }
      }
    }
  }
}

.verticalCircles {
  position: absolute;
  right: 140px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  padding-left: 0;

  @include _820 {
    right: 100px;
  }

  @include _769 {
    right: 70px;
  }

  @include _620 {
    display: none;
  }

  .circle {
    width: 10px;
    height: 10px;
    background: #151515;
    opacity: 0.2;
    margin-bottom: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.horizontalCircles {
  display: none;
  list-style: none;
  padding-left: 0;
  width: 90px;
  justify-content: space-between;
  margin: 0 auto;

  @include _620 {
    display: flex;
    margin-top: 20px;
  }

  @include _375 {
    margin-top: 0;
  }

  .circle {
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    opacity: 0.2;
    margin-bottom: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.line {
  position: absolute;
  right: 0;
  bottom: -145px;
  z-index: -1;

  @include _620 {
    display: none;
  }
}
