@import 'sources/styles/mixins/media-mixin.scss';

.nextArrow {
  cursor: pointer;
  position: absolute;
  bottom: -75px;
  right: 0;

  @include _820 {
    display: none;
  }

  circle,
  rect {
    transition: all 0.5s ease;
  }

  &:hover circle {
    fill: #ff4c0d;
  }

  &:hover rect {
    fill: #fff;
  }
}