@import 'sources/styles/media-mixin.scss';

.design {
  background-color: var(--page-background);
  position: relative;
  z-index: 10;
  margin-bottom: 120px;
  transition: all 0.5s ease;

  @include _620 {
    margin-bottom: 200px !important;
  }

  .title {
    font-weight: 500;
    font-size: 45px;
    color: var(--title-color);
    margin: 0 0 70px 0;
    max-width: 740px;

    @include _769 {
      font-size: 30px;
    }

    @include _620 {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }

  .imgWrapper {
    display: flex;
    justify-content: space-between;

    @include _769 {
      flex-direction: column;
    }

    .item {
      flex: 1;
      height: 550px;
      background: #151515;
      border-radius: 15px;
      position: relative;

      @include _620 {
        max-height: 270px;
      }

      img {
        width: 100%;

        @include _620 {
          max-height: 270px;
        }
      }

      &:first-child {
        @include _769 {
          margin-bottom: 20px;
        }

        img {
          @include _769 {
            height: 100%;
          }

          @include _620 {
            max-height: 100%;
          }
        }
      }

      &:last-child {
        margin-left: 40px;

        @include _769 {
          margin-left: 0;
        }

        @include _620 {
          margin-top: 120px;
        }

        img {
          height: 100%;

          @include _620 {
            max-height: 100%;
          }
        }
      }

      .description {
        position: absolute;
        bottom: 60px;
        left: 60px;
        color: #f1f1f1;

        @include _620 {
          position: relative;
          left: 0;
          bottom: 0;
          margin-top: 20px;
        }

        .text {
          font-weight: 600;
          font-size: 20px;
          margin: 0 0 20px 0;

          @include _620 {
            font-size: 16px;
            color: var(--text-color);
          }
        }

        .subtext {
          font-weight: normal;
          font-size: 14px;
          max-width: 430px;
          line-height: 1.5;

          @include _620 {
            font-size: 12px;
            color: var(--text-color);
          }
        }
      }
    }
  }
}

.line {
  position: absolute;
  bottom: -900px;
  left: 0;
  z-index: -1;
}

.topEllipse {
  position: absolute;
  top: -148px;
  right: -381px;
  z-index: -1;
}

.bottomEllipse {
  position: absolute;
  bottom: -450px;
  left: 0;
  z-index: -1;
}
