@import 'sources/styles/media-mixin.scss';

.wrapper {
  background-color: #000;
  position: relative;
  z-index: 10;
  margin-bottom: 120px;

  .title {
    font-weight: 500;
    font-size: 45px;
    color: #ff4c0d;
    margin: 0 0 70px 0;
    max-width: 740px;

    @include _769 {
      font-size: 30px;
    }
  }

  .imgWrapper {
    display: flex;
    justify-content: space-between;

    @include _769 {
      flex-direction: column;
    }

    .item {
      flex: 1;
      height: 550px;
      background: #151515;
      border-radius: 15px;
      position: relative;

      img {
        width: 100%;
      }

      &:first-child {
        @include _769 {
          margin-bottom: 20px;
        }

        img {
          @include _769 {
            height: 67%;
          }
        }
      }

      &:last-child {
        margin-left: 40px;

        @include _769 {
          margin-left: 0;
        }

        img {
          height: 100%;
        }
      }

      .description {
        position: absolute;
        bottom: 60px;
        left: 60px;
        color: #f1f1f1;

        .text {
          font-weight: 600;
          font-size: 20px;
          margin: 0 0 20px 0;
        }

        .subtext {
          font-weight: normal;
          font-size: 14px;
          max-width: 430px;
          line-height: 1.5;
        }
      }
    }
  }
}

.line {
  position: absolute;
  bottom: -900px;
  left: 0;
  z-index: -1;
}

.topEllipse {
  position: absolute;
  top: -148px;
  right: -381px;
  z-index: -1;
}

.bottomEllipse {
  position: absolute;
  bottom: -450px;
  left: 0;
  z-index: -1;
}
