.wrapper {
  background-image: url('../../../sources/images/speed-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  z-index: 10;
  margin-bottom: 146px;
  max-width: 1440px;

  .topEllipse {
    position: absolute;
    top: -419px;
    right: -24px;
    z-index: -1;
  }

  .content {
    max-width: 388px;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    height: 100%;

    .title {
      font-weight: 500;
      font-size: 45px;
      color: #f1f1f1;
      margin: 110px 0 40px 0;
    }

    .text {
      font-weight: normal;
      font-size: 14px;
      color: #f1f1f1;
      max-width: 285px;
      margin: 0;
      line-height: 1.5;
    }
  }
}

.bottomLine {
  position: absolute;
  bottom: -973px;
  right: 0;
  z-index: -1;
}
