@import 'sources/styles/media-mixin.scss';

.speed {
  background-image: url('../../../sources/images/speed-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  margin: 0 auto 146px;
  max-width: 1440px;

  @include _769 {
    height: inherit;
  }

  @include _620 {
    margin-bottom: 0 !important;
  }

  .content {
    max-width: 388px;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    height: 100%;

    @include _769 {
      padding: 40px 0;
    }

    .title {
      font-weight: 500;
      font-size: 45px;
      color: #f1f1f1;
      margin: 110px 0 40px 0;

      @include _769 {
        font-size: 30px;
      }

      @include _620 {
        font-size: 25px;
        margin-top: 220px;
      }
    }

    .text {
      font-weight: normal;
      font-size: 14px;
      color: #f1f1f1;
      max-width: 285px;
      margin: 0;
      line-height: 1.5;

      @include _620 {
        font-size: 12px;
      }
    }
  }
}

.line {
  position: absolute;
  right: 0;
  z-index: -1;

  @include _620 {
    display: none;
  }
}
