@import 'sources/styles/mixins/media-mixin.scss';

.btn {
  padding: 15px 35px;
  min-width: 122px;
  height: 54px;
  background: #f1f1f1;
  border-radius: 65px;
  border: none;
  font-size: 16px;
  color: #151515;
  font-weight: bold;
  transition: all 0.5s ease;
  cursor: pointer;

  @include _375 {
    width: 100%;
  }

  &:hover {
    background-color: #ff4c0d;
    color: #fff;
  }
}

.orange {
  background-color: #ff4c0d;
  color: #fff;

  &:hover {
    background: #f1f1f1;
    color: #151515;
  }
}
