.btn {
  padding: 15px 35px;
  min-width: 122px;
  height: 54px;
  background: #f1f1f1;
  border-radius: 65px;
  border: none;
  font-size: 16px;
  color: #151515;
  font-weight: bold;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: #FF4C0D;
    color: #fff;
  }
}

.orange {
  background-color: #FF4C0D;
  color: #fff;
}
