@import 'sources/styles/media-mixin.scss';

.questions {
  display: flex;
  justify-content: space-between;
  background-color: var(--page-background);
  position: relative;
  z-index: 10;
  margin-bottom: 120px;
  transition: all 0.5s ease;

  @include _769 {
    flex-direction: column;
  }

  .description {
    min-width: 50%;

    @include _769 {
      max-width: 100%;
      margin-bottom: 78px;
    }

    button:last-child {
      margin-top: 60px;
    }

    .text:nth-child(2) {
      margin-bottom: 20px;
    }

    .title {
      font-weight: 500;
      font-size: 45px;
      margin: 0 0 40px 0;
      color: #ff4c0d;
      max-width: 415px;

      @include _769 {
        font-size: 30px;
      }

      @include _620 {
        font-style: 25px;
      }
    }

    .text {
      font-weight: normal;
      font-size: 14px;
      color: var(--text-color);
      max-width: 312px;
      margin: 0;

      @include _769 {
        max-width: 417px;
      }

      @include _620 {
        font-size: 12px;
      }
    }
  }

  .questionsList {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 40px;

      @include _769 {
        max-width: 460px;
      }

      .question {
        color: var(--text-color);
        font-weight: 600;
        font-size: 20px;
        margin: 0;
        margin-bottom: 12px;

        @include _620 {
          font-size: 16px;
        }
      }

      .orangeLine {
        width: 100px;
        height: 3px;
        background: #ff4c0d;
      }

      .answer {
        color: var(--text-color);
        font-weight: normal;
        font-size: 14px;
        margin-top: 16px;

        @include _620 {
          font-size: 12px;
        }
      }
    }
  }
}

.ellipse {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: -1;
}

.lineIcon {
  position: absolute;
  left: 50px;
  top: 550px;
  z-index: -1;
  transform: scale(1.1);
}
