.section {
  background-color: #000000;
  min-height: 890px;
  z-index: 10;
  margin-bottom: 110px;
  position: relative;

  .title {
    display: block;
    font-weight: 600;
    font-size: 80px;
    color: #f1f1f1;
    max-width: 1200px;
    margin: 0;
    padding-top: 220px;
  }

  .text {
    display: block;
    font-weight: 600;
    font-size: 30px;
    color: #ff4c0d;
    max-width: 500px;
    text-align: left;
    margin: 30px 0 60px;
  }
}

.topEllipse {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.bottomEllipse {
  position: absolute;
  left: 0;
  top: 575px;
  z-index: -1;
}

.bike {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
