.wrapper {
  background: #000;
  display: flex;

  .description {
    .title {
      max-width: 514px;
      font-weight: 500;
      font-size: 45px;
      color: #ff4c0d;
      margin: 110px 0 40px 0;
    }

    .text {
      max-width: 320px;
      font-weight: normal;
      font-size: 14px;
      color: #f1f1f1;
      margin: 0 0 60px 0;
    }

    .stores {
      display: flex;
      list-style: none;
      padding-left: 0;
      max-width: 278px;
      justify-content: space-between;
    }
  }

  .phoneWrapper {
    margin-left: 90px;
  }
}
