@import 'sources/styles/media-mixin.scss';

.toggle {
  width: 250px;
  border: 3px solid #f1f1f1;
  border-radius: 108px;
  z-index: 10;
  position: relative;

  @include _375 {
    margin: 0 auto;
  }

  .light,
  .dark {
    display: inline-block;
    text-align: center; 
    padding: 15px 20px;
    cursor: pointer;
    width: 32%;
    font-size: 16px;
    font-weight: bold;
    color: #f1f1f1;
    position: relative;
  }

  .light {  
    color: #000;
  }

  // .active {
  //   background: #f1f1f1;
  //   color: #000;
  // }

  .thumb {
    display: block;
    position: absolute;
    right: 115px;
    top: 0;
    transition: all 0.5s ease;
    border-radius: 108px;
    width: 135px;
    background: #f1f1f1;
    height: 50px;
  }
}
