@import 'sources/styles/media-mixin.scss';

.wrapper {
  flex: 1;

  @include _900 {
    flex: none;
  }

  @include _769 {
    display: none;
  }
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-left: 80px;

  @include _900 {
    margin-left: 0;
  }

  li:hover .link {
    color: #FF4C0D;
  }

  .link {
    text-decoration: none;
    transition: all 0.5s ease;
    color: #f1f1f1;
    font-size: 14px;
    padding: 0 20px;

    @include _960 {
      padding: 0 10px;
    }
  }
}