@import 'sources/styles/media-mixin.scss';

.navigation {
  @include _1920 {
    flex: none;
  }

  @include _1440 {
    flex: 1; 
  }

  @include _900 {
    flex: none;
  }

  @include _769 {
    display: none;
  }
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  

  @include _1920 {
    margin-left: 0;
  }

  @include _1440 {
    margin-left: 80px;
  }

  @include _900 {
    margin-left: 0;
  }

  li:hover .link {
    color: #FF4C0D;
  }

  .link {
    text-decoration: none;
    transition: all 0.5s ease;
    color: var(--nav-link-color);
    font-size: 14px;
    padding: 0 20px;

    @include _960 {
      padding: 0 10px;
    }
  }
}