.wrapper {
  flex: 1;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-left: 80px;

  .link {
    text-decoration: none;
    transition: all 0.5s ease;
    color: #f1f1f1;
    font-size: 14px;
    padding: 0 20px;
  }
}