@import 'sources/styles/mixins/media-mixin.scss';
@import 'sources/styles/mixins/typography-mixin.scss';

.security {
  background-color: var(--page-background);
  z-index: 9;
  margin-bottom: 120px;

  @include _620 {
    margin-bottom: 0 !important;
  }

  .title {
    @include fontTitle;
    margin: 0 0 60px 0;
    color: var(--title-color);
    max-width: 870px;

    @include _769 {
      font-size: 30px;
      margin-bottom: 40px;
    }

    @include _620 {
      font-size: 25px;
    }
  }

  .imagesWrapper {
    display: flex;
    max-width: 100%;

    @include _769 {
      display: none;
    }

    .bigImg {
      max-width: 70%;

      @include _769 {
        max-width: 100%;
      }
    }

    .smallImg {
      max-width: 30%;
      height: 300px;
      margin-left: 40px;
      z-index: -2;

      @include _769 {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
}

.leftEllipse {
  position: absolute;
  left: -30px;
  bottom: -263px;
  z-index: -1;
}

.rightEllipse {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bottomLine {
  position: absolute;
  bottom: -300px;
  right: 40px;
  z-index: -1;
}

.lineIcon {
  position: absolute;
  z-index: -1;
  bottom: -319px;
  right: -3px;
}
