@import 'sources/styles/media-mixin.scss';

.preview {
  background: #151515;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  padding: 60px 80px;
  height: 550px;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
  z-index: 10;

  @include _769 {
    flex-direction: column;
    max-width: 550px;
    padding: 40px 60px;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: inherit;

    @include _769 {
      flex: 1;
    }

    .title {
      max-width: 494px;
      font-weight: 500;
      font-size: 45px;
      color: #f1f1f1;
      margin: 0 0 34px;

      @include _769 {
        font-size: 25px;
        max-width: 300px;
      }

      .price {
        color: #ff4c0d;
      }
    }

    .buy {
      align-content: flex-end;

      @include _769 {
        margin-bottom: 20px;
      }
    }
  }

  .supplyWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4px;

    .title {
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      margin: 0;

      @include _769 {
        font-size: 16px;
      }
    }

    .supplyList {
      list-style: none;
      padding-left: 0;
      color: #fff;
      font-size: 14px;

      @include _769 {
        display: none;
      }

      li {
        margin-bottom: 18px;
      }
    }
  }
}

.bike {
  height: 636px;
  position: absolute;
  left: 370px;
  top: -100px;
  z-index: -1;

  @include _1100 {
    left: 310px;
  }

  @include _900 {
    left: 150px;
  }

  @include _769 {
    left: 75px;
  }
}