$dark-page-bg: #000000;
$dark-title: #FF4C0D;
$dark-toggle-thumb: #f1f1f1;
$dark-logo: #f1f1f1;
$dark-nav-link: #f1f1f1;
$dark-preview-section: #222222;
$dark-footer-bg: #222222;
$dark-text: #f1f1f1;
$dark-review-item-bg: #151515;
$dark-review-line: #FF4C0D;
$dark-mobile-imgPath: 'url("../../../sources/images/dark-phone.png")';
$dark-mobileNav-bg: '#222222';
$dark-close-icon-color: '#FF4C0D';