$light-page-bg: #E0E0E0;
$light-title: #ff4C0D;
$light-toggle-thumb: #000;
$light-logo: #ff4C0D;
$light-nav-link: #151515;
$light-preview-section: #f1f1f1;
$light-footer-bg: #E0E0E0;
$light-text: #151515;
$light-review-item-bg: #f1f1f1;
$light-review-line: #151515;
$light-mobile-imgPath: 'url("../../../sources/images/light-phone.png")';
$light-mobileNav-bg: '#f1f1f1';
$light-close-icon-color: '#151515';