@mixin _1920 {
  @media (max-width: 1920px) {
    @content;
  }
}
@mixin _1440 {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin _1300 {
  @media (max-width: 1300px) {
    @content;
  }
}
@mixin _1100 {
  @media (max-width: 1100px) {
    @content;
  }
}
@mixin _960 {
  @media (max-width: 960px) {
    @content;
  }
}
@mixin _900 {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin _820 {
  @media (max-width: 820px) {
    @content;
  }
}
@mixin _769 {
  @media (max-width: 769px) {
    @content;
  }
}
@mixin _620 {
  @media (max-width: 620px) {
    @content;
  }
}
@mixin _375 {
  @media (max-width: 375px) {
    @content;
  }
}