@import './dark-theme-variables.scss';
@import './light-theme-variables.scss';
@import './mixins/media-mixin.scss';

:root {
  --page-background: #{$light-page-bg};
  --title-color: #{$light-title};
  --toggle-color: #{$light-toggle-thumb};
  --logo-color: #{$light-logo};
  --nav-link-color: #{$light-nav-link};
  --preview-section-background: #{$light-preview-section};
  --footer-background: #{$light-footer-bg};
  --text-color: #{$light-text};
  --review-item-background: #{$light-review-item-bg};
  --review-line-background: #{$light-review-line};
  --mobile-imgPath: url('../images/light-phone.png');
}

.dark {
  --page-background: #{$dark-page-bg};
  --title-color: #{$dark-title};
  --toggle-color: #{$dark-toggle-thumb};
  --logo-color: #{$dark-logo};
  --nav-link-color: #{$dark-nav-link};
  --preview-section-background: #{$dark-preview-section};
  --footer-background: #{$dark-footer-bg};
  --text-color: #{$dark-text};
  --review-item-background: #{$dark-review-item-bg};
  --review-line-background: #{$dark-review-line};
  --mobile-imgPath: url('../images/dark-phone.png');
}

body {
  font: 16px 'Gilroy', sans-serif;
  overflow-x: hidden;
  transition: all 0.5s ease;
  background-color: var(--page-background);
}

#root {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  padding: 0 140px;
  box-sizing: border-box;
  margin: 0 auto 50px;
  position: relative;
  transition: all 0.5s ease;

  @include _1100 {
    padding: 0 70px;
  }

  @include _769 {
    padding: 0 40px;
  }

  @include _620 {
    padding: 0 20px;
  }
}