@import 'sources/styles/mixins/media-mixin.scss';
@import 'sources/styles/mixins/typography-mixin.scss';

.description {
  background-color: var(--page-background);
  z-index: 10;
  margin-bottom: 120px;

  .title {
    @include fontTitle;
    margin: 0 0 60px 0;
    color: var(--text-color);
    max-width: 870px;

    @include _960 {
      font-size: 30px;
    }

    @include _769 {
      margin-bottom: 40px;
    }

    @include _620 {
      font-size: 25px;
    }
  }

  .imagesWrapper {
    display: flex;
    max-width: 100%;

    @include _769 {
      display: none;
    }

    .bigImg {
      max-width: 70%;

      @include _769 {
        max-width: 100%;
      }
    }

    .smallImg {
      max-width: 30%;
      height: 300px;
      margin-left: 40px;
      z-index: -2;

      @include _769 {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
}

.bottomLine {
  position: absolute;
  bottom: -151px;
  right: 0;
  z-index: -1;
}
