@import 'sources/styles/media-mixin.scss';

.description {
  background-color: #000000;
  position: relative;
  z-index: 10;
  margin-bottom: 120px;

  .title {
    margin: 0 0 60px 0;
    font-weight: 500;
    font-size: 45px;
    color: #f1f1f1;
    max-width: 870px;

    @include _960 {
      font-size: 30px;
    }

    @include _769 {
      margin-bottom: 40px;
    }
  }

  .row {
    display: flex;
    color: #f1f1f1;
    margin-bottom: 30px;

    @include _769 {
      flex-direction: column;
    }

    .column {
      flex-grow: 1;
      width: 33%;
      cursor: pointer;

      @include _769 {
        width: 100%;
        margin-bottom: 30px;
      }

      .columnTitle {
        font-weight: 600;
        font-size: 20px;
        opacity: 0.4;

        @include _1300 {
          max-width: 240px;
        }

        @include _769 {
          max-width: 100%;
        }
      }

      .line {
        height: 3px;
        width: 100%;
        background: #f1f1f1;
        opacity: 0.4;
      }

      .text {
        max-width: 360px;
        line-height: 1.5;
        opacity: 0.4;

        @include _769 {
          max-width: 470px;
        }
      }

      .columnImg {
        display: none;

        @include _769 {
          display: block;
          width: 100%;
        }
      }
    }

    .column.active {
      .line {
        background: #ff4c0d;
      }

      .line,
      .text,
      .columnTitle {
        opacity: 1;
      }
    }
  }

  .imagesWrapper {
    display: flex;
    max-width: 100%;

    @include _769 {
      display: none;
    }

    .bigImg {
      max-width: 70%;

      @include _769 {
        max-width: 100%;
      }
    }

    .smallImg {
      max-width: 30%;
      height: 300px;
      margin-left: 40px;
      z-index: -2;

      @include _769 {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
}

.ellipse {
  position: absolute;
  left: 0;
  top: -350px;
  z-index: -1;
}

.bottomLine {
  position: absolute;
  bottom: -151px;
  left: 63px;
  z-index: -1;
}
