.wrapper {
  background-color: #000000;
  position: relative;
  z-index: 10;
  margin-bottom: 120px;

  .title {
    margin: 0 0 60px 0;
    font-weight: 500;
    font-size: 45px;
    color: #f1f1f1;
    max-width: 870px;
  }

  .row {
    display: flex;
    color: #f1f1f1;
    margin-bottom: 30px;

    .column {
      flex-grow: 1;
      width: 33%;
      cursor: pointer;

      .columnTitle {
        font-weight: 600;
        font-size: 20px;
        opacity: 0.4;
      }

      .line {
        height: 3px;
        width: 100%;
        background: #f1f1f1;
        opacity: 0.4;
      }

      .text {
        max-width: 360px;
        line-height: 1.5;
        opacity: 0.4;
      }
    }

    .column.active {
      .line {
        background: #ff4c0d;
      }

      .line,
      .text,
      .columnTitle {
        opacity: 1;
      }
    }
  }

  .imagesWrapper {
    display: flex;
    max-width: 100%;

    .bigImg {
      max-width: 70%;
    }

    .smallImg {
      width: 360px;
      height: 300px;
      margin-left: 40px;
      z-index: -2;
    }
  }
}

.ellipse {
  position: absolute;
  left: 0;
  top: -350px;
  z-index: -1;
}

.bottomLine {
  position: absolute;
  bottom: -151px;
  left: 63px;
  z-index: -1;
}
