@import 'sources/styles/media-mixin.scss';

.wrapper {
  background-image: url('../../../sources/images/brand.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  z-index: -10;
  margin-bottom: 120px;
  max-width: 1440px;

  @include _769 {
    height: inherit;
  }

  .content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    height: 100%;
    position: relative;

    @include _769 {
      padding: 40px 0;
    }

    .title {
      font-weight: 500;
      font-size: 45px;
      color: #ff4c0d;
      margin: 110px 0 40px 0;

      @include _769 {
        font-size: 30px;
      }
    }

    .text {
      font-weight: normal;
      font-size: 14px;
      color: #151515;
      max-width: 440px;
      margin: 0 0 20px 0;
      line-height: 1.5;
    }
  }
}

.circlesWrapper {
  position: absolute;
  right: 140px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  padding-left: 0;

  .circle {
    width: 10px;
    height: 10px;
    background: #151515;
    opacity: 0.2;
    margin-bottom: 30px;
    border-radius: 100%;
    cursor: pointer;
  }
}

.bottomLine {
  position: absolute;
  right: 0;
  bottom: -972px;
  z-index: -1;
}