.mobileNav {
  position: fixed;
  z-index: 2000;
  height: 100%;
  top: 0;
  left: -10000px;
  transition: all 0.5s ease;
  overflow: hidden;

  .closeIcon {
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.5s ease;

    &:hover path {
      opacity: 0.6;
    }

    path {
      fill: var(--close-icon-color);
      transition: all 0.5s ease;
    }
  }

  .nav {
    height: inherit;
    display: flex;
    z-index: 10;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding-left: 40px;
    width: 200px;
    background-color: var(--mobile-nav-background);

    li {
      padding-bottom: 50px;
      z-index: 10;
    }
  }
}

.open {
  left: 0 !important;
}

.ellipse {
  position: absolute;
  left: -450px;
  top: -400px;
  z-index: 1;
}

.bottomLine {
  position: absolute;
  bottom: -151px;
  right: 0;
  z-index: 0;
}